*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    color: white;
    background-color: #1b1b41;
    font-family: Lato, sans-serif;
    margin-top: 20px;
}

h1{
    color: #1b1b32;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 20px 0;
}

.aplicacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    width: 400px;
    height: 150px;
    border-radius: 45px;
    border: 2px solid white; 
    cursor: pointer;
    transition: all 300ms ease;
}

.logo-img:hover{
    margin-left: 20px;
    transform: scale(0.8);
    border: 2px solid rgb(0, 65, 109);
}

.tareas-lista-principal{
    width: 600px;
    min-height: 500px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
}